{% extends "layout.html" %}

{% block content %}
<h1>Trades</h1>
<div class="row">
    <div class="col table-responsive">
        <table class="table table-secondary table-striped text-center align-middle">
            <thead class="table-primary align-middle">
                <tr>
                    <!-- <th>Icon</th> -->
                    <th>Item</th>
                    <!-- <td>Armour</td>
                    <td>Primary Stat</td>

                    <td>Amount Primary Stat</td>
                    <td>Secondary Stat</td>
                    <td>Amount Secondary Stat</td>
                    <td>Bonus</td>
                    <td>Elite</td> -->

                    <th>User</th>
                    <th>Username</th>

                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for trade in trades %}
                <tr>
                    <!-- <td>{{ trade.Item.icon }}</td> -->
                    <td>{{ trade.Item.name }}</td>
                    <!-- <td>{{ trade.Item.stamina }}</td>
                    <td>{{ trade.Trade.armour }}</td>
                    <td>{{ trade.Item.primary_stat }}</td>

                    <td>{{ trade.Trade.amount_primary_stat }}</td>
                    <td>{{ trade.Trade.secondary_stat }}</td>
                    <td>{{ trade.Trade.amount_secondary_stat }}</td>
                    <td>{{ trade.Trade.bonus }}</td>
                    <td>{{ trade.Trade.elite }}</td> -->

                    <td>{{ trade.User.name }}</td>
                    <td>{{ trade.User.username }}</td>

                    <td>{{ trade.Trade.price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}