{% extends "layout.html" %}

{% load static %}
{% block content %}
<h1>{{ title }}</h1>
<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table id="table_trades" class="table table-secondary table-striped text-center align-middle">
                <thead class="table-primary">
                    <tr>
                        <th>#</th>
                        <th>Item</th>
                        <th>Primary Stat</th>
                        <th>Secondary Stat</th>
                        <th>Bonus</th>
                        <th>Elite</th>
                        <th>Enchant</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody id="table_body_trades">
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}